server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cloud_service
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
      minimum-idle: 2

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public
    drop-first: false

  jpa:
    hibernate:
      ddl-auto: validate #create #create-drop #validate  #update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    generate-ddl: false

  sql:
    init:
      mode: always

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      location: ${java.io.tmpdir}
logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.boot: DEBUG
    com.example.filestorage: DEBUG